**/.git
**/.gitignore
**/.vscode
**/.idea
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/*.pyc
**/.env
**/.env.local
**/node_modules
**/.next
**/dist
**/build
**/*.log
**/coverage
**/.coverage
**/htmlcov
